*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom variables */
:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --tertiary: maroon;
}

::-webkit-scrollbar {
    display: none;
}

/* Display - grid */
:is(#app) {
    display: grid;
}

/* Display - flex */

/* APP */
#app {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
   
}
.navbar{
    padding-block: 0 !important;
}

.navbar-nav .nav-link {
    color: var(--secondary);
    font-weight: bold;
}

a { 
    transition: all .5s;
 
 }

 .navbar a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: goldenrod; 
}

body {
    scroll-behavior: smooth;
}

/* All images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* Logo */
img[alt='logo'] {
    width: 5rem;
}

/* NavBar */

/*Navbar & footer*/
:is(#navbar, .footer){
    background-color: var(--tertiary);
}

.display-3{
    font-size: 2rem;
}